COMPOSE_PROJECT_NAME=oneplus-price
APP_IMAGE=oneplus-price:local
APP_HOST=labels.example.com
TRAEFIK_ROUTER=oneplus-price
TRAEFIK_NETWORK=traefik-public
TRAEFIK_ENTRYPOINT=websecure
TRAEFIK_CERT_RESOLVER=letsencrypt
POSTGRES_NETWORK=postgres-internal

NUXT_DATABASE_URL=postgres://oneplus_price:change-me@postgres:5432/oneplus_price
NUXT_ADMIN_LOGIN=admin
NUXT_ADMIN_PASSWORD=change-admin-password
NUXT_PARTNER_LOGIN=partner
NUXT_PARTNER_PASSWORD=change-partner-password
NUXT_SESSION_SECRET=replace-with-at-least-32-random-characters

BASE_URL=http://127.0.0.1:3000
SEED_CITY=Москва
# SEED_FILE задаётся только на время защищённого импорта и указывает на внешний Excel-файл.
# SEED_FILE=/secure-import/labels.xlsx
